table {
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    height: 20px;
    border-color: black;
}

th {
    background-color: #fadcdc;
}
